* {

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(8, 11, 39);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #1c2841;
    color: rgb(228, 228, 238);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    font-size: 1.02rem;
    text-decoration: underline;
    background-color: #ff004f;
    padding: 5px;
    border-radius: 2px;

}

.left {
    font-size: 1.5rem;

    margin-left: -46px;
    margin-bottom: 5px;
    color: lightblue;
    font-family: monospace;
    font-style: italic;
}

.right {
    display: flex;
    margin-left: 4%;
}

.right img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

/*--------------------------------------------home-----------------------------------------------------------*/

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 76px 0;
}

.leftsection {
    font-size: 3rem;

}

.name {
    color: #ff004f;
    font-size: 76px;
}

.rightsection {

    margin: 44px;
    padding: 10px;
}

.rightsection img {
    height: 400px;
    width: 400px;
}

#element{
    color:#ff004f;
    font-size: 48px;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 840x;
}

/*----------------------------------------About-----------------------------------------*/

.aboutsection {
    margin: 50px;
}

.aboutme {
    opacity: 1;
    transform: translateY(0);
    text-align: center;
    font-size: 40px;
    color: #ff004f;

}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}

.aboutleft {
    width: 50%;
    padding-left: 50px;
}

.p {
    font-weight: 500;
    text-align: justify;
    color: white;
    margin-top: 70px;
    margin-left: 30px;
    font-size: 18px;
    margin-bottom: 250px;
    line-height: 18pt;
}

.highlight {
    color: rgb(77, 211, 244);
}

.aboutright {
    height: 400px;
    width: 310px;
    margin-top: -600px;
    margin-left: 1000px;
}

.aboutright img {
    width: 80%;
    height: 90%;
    border-radius: 13%;
}

/*-------------------------Education----------------------------------*/
.Educationsection {
    padding: 30px 0;
    margin: 40px;
}

.education {
    opacity: 1;
    transform: translateY(0);
    text-align: center;
    font-size: 40px;
    color: #ff004f;
    margin-top: -30px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 80px;
}

.cards img {
    height: 50px;
    width: 50px;
}

.card {
    background-color: #dbecff;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: calc(23% - 10px);
    min-height: 16rem;
    color: black;
    font-size: 16px;
    padding-top: 20px;

}

.card:hover {
    background-color: #dc1c59;
    transform: translateY(-8px);
}


.title {
    margin: 15px;
    transition: ease-in-out 0.3s;
}

.cardbody {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.cardtitle {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    padding-bottom: 15px;
    padding-bottom: 30px;
}

/*----------------------------------skills-------------------------*/
.skillsection {
    margin: 50px;
}

.skills {
    opacity: 1;
    transform: translateY(0);
    text-align: center;
    font-size: 40px;
    color: #ff004f;
    margin-bottom: 50px;
    margin-top: -10px;
}

.myskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: 65px;

}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(27% - 30px);
    background-color: #dbecff;
    padding: 15px;
    margin: 20px;
    color: black;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.skill:hover {
    background-color: #dc1c59;
    font-size: 1.2rem;
    transform: translateY(-8px);
}

.leftskill {
    width: 30%;
    display: flex;
    align-items: center;
}

.leftskill img {
    height: auto;
    width: 50px;
    object-fit: contain;
}

.rightskill {
    margin: auto;
    margin-left: 28px;
    font-size: 150%;
    text-align: center;

}

/*--------------------------------------------------projects------------*/
#projects {
    padding: 40px, 0;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin: auto;
}

.sub {
    opacity: 1;
    transform: translateY(0);
    text-align: center;
    font-size: 40px;
    color: #ff004f;
    margin-bottom: 50px;
    margin-top: -10px;
    margin-top: -31px;
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.project {
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: calc(28% - 5px);
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.projectimg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.projectsimg img {
    height: 100%;
    object-fit: fill;
    user-select: none;
    width: 100%;
    transition: 0.5s ease-in-out;
    border-radius: 6px;
}

.projectsimg:hover img {
    transform: scale(1.1);
}


.layer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    overflow: hidden;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    transition: bottom 0.5s ease-in-out;
}

.layer h3 {
    font-weight: 500;
    margin: 30px;
    text-align: center;

    font-family: 'Damion', cursive;
}

.layer p {
    margin: 30px;
    text-align: center;

}

.project:hover .layer {
    height: 100%;
    transition: 0.5s ease-in-out;
    bottom: 0;

}


/*-------------------------------------------------Contact-----------------*/
.sub-title {
    opacity: 1;
    transform: translateY(0);
    text-align: center;
    font-size: 40px;
    color: #ff004f;
    padding-top: 15px;
}

.contactleft {
    flex-basis: 35%;
}

.contactleft p {
    margin-top: 17px;
}

.ptitle p img {
    background-color: #ff004f;
    margin-left: 80px;
    border-radius: 8px;
    margin-right: -20px;
    width: 25px;
    height: 25px;
}

.contactleft div p i {
    margin-right: 35px;
    font-size: 25px;

}

.social-icons {
    margin-top: 30px;
    margin-left: 105px;
}


.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;

}

.social-icons a:hover {
    transform: translateY(-8px);
}

.btn {
    display: inline-block;
    background-color: #ff004f;
    color: white;
    width: 150px;
    height: 38px;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    padding: 2px 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border: 3px solid #ff004f;
    text-decoration: none;
    padding-top: 5px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #141515;
    font-size: 1.2rem;
}

.contactright {
    margin-top: -220px;
}

.contactright form {
    width: 100%;

}

form input,
form textarea {
    width: 50%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    margin-left: 40%;
}

.btnsubmit {
    display: inline-block;
    background-color: #ff004f;
    color: white;
    width: 150px;
    height: 38px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 900px;
    padding: 2px 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border: 3px solid #ff004f;
    text-decoration: none;
    padding-top: 5px;
    border-radius: 5px;
}

.btnsubmit:hover {
    background-color: #141515;
    font-size: 1.0rem;
}

/*------------------------------------------footer--------------------------------*/
.footer {
    color: rgb(12, 12, 12);
    font-weight: normal;
    font-size: 18px;
    background-color: lightskyblue;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

/*--------------------------------------------Css for small screen----------------------------------*/
nav img {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav img {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background-color: #ff004f;
        position: fixed;
        top: 0px;
        right: -200px;
        flex-direction: column;
        width: 150px;
        height: 100vh;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 17px;
    }
    nav ul img{
        position: absolute;
        top: 25px;
        left: 20px;
        cursor: pointer;
    }
    nav img{
        cursor: pointer;
    }

    .firstsection {
        flex-direction: column-reverse;
        width: 100%;
        line-height: 2.5rem;
        margin: 0 !important;
        padding-top: 0px !important;
    }

    .leftsection {
        margin: 30px;
        font-size: 23px;

    }

    .name {
        font-size: 50px;

    }

    .rightsection {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .aboutsection {
        padding: -10px;
    }

    .aboutme {
        font-size: 2.4rem;
        font-weight: 500;

    }

    .aboutleft {
        line-height: 1.2rem;
        width: 100%;
    }

    .p {
        font-size: 15px;
        margin-left: -44px
    }

    .aboutright {
        margin: 0;
        margin-bottom: -210px;

    }

    .aboutright img {
        margin-left: -10px;
        margin-top: -200px;
    }

    .education {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .card {
        width: 100%;
    }

    .cards {
        margin: 0px;
        margin-top: 45px;
    }

    .skills {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .myskills {
        width: 85%;
        margin-left: 10px;
    }

    .skill {
        width: 100%;
    }

    .leftskill img {
        object-fit: contain;
        width: 30px;
    }

    .rightskill {
        font-size: 14px;
    }

    .sub {
        font-size: 2.4rem;
        font-weight: 500;
    }

    .projectlist {
        width: 85%;
        margin-left: 10px;
    }

    .project {
        width: 100%;
    }

    .layer h3 {
        font-size: 14px;
    }

    .layer p {
        font-size: 10px;
        margin: -25px;
        padding: 13px;
        margin-right: 6px;
        margin-left: 6px;
    }

    .contactsection {

        flex-direction: column;
        margin: 0px;
        padding: 20px;

    }

    .sub-title {
        font-size: 2.2rem;
        font-weight: 400;
        margin-left: 25px;
    }

    .contactleft {
        width: 100%;
        margin-left: -40px;
    }

    .social-icons img {
        width: 25px;
        height: 25px;
    }

    .btn {
        height: 28px;
        font-size: 14px;
        font-weight: 350;
    }

    .ptitle p {
        font-size: 10px;
    }

    .contactright {
        width: 180%;
        margin-left: -190px;
        margin-top: 30px;
        margin-bottom: 10px
    }

    form input {
        font-size: 12px;
    }

    form textarea {
        font-size: 12px;
        margin-bottom: 45px;
    }

    .btnsubmit {
        height: 28px;
        font-size: 14px;
        font-weight: 350;
        margin-left: -200px;
        margin-top: 0px;
        font-size: 14px;

    }

    .footer {
        font-size: 15px;
    }

    #msg {
        font-size: 12px;

    }

    .cursor {
        width: 1.7px;
        height: 18px;
    }

    .btn:hover {
        font-size: 0.8rem;
    }

    .btnsubmit:hover {
        font-size: 0.6rem;
    }

}

#msg {
    color: #61b752;
    margin-top: -40px;
    display: block;
    margin-left: 50%;
    margin-top: 10px;

}